.App {
  text-align: center;
  
}
.App-body{
  background-color: #ccc;; 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn-margin {
  margin-right: 20px;
}
.applogo{
  display: flex;
  width: 150px;
  height: 100px;
}
.imgperro{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar-custom {
  background-color: #3da5e0; /* Reemplaza con el color de fondo deseado */
}
.container {
  /*margin-top: 50px;*/
  background-image: url(../src/assets/img/fondo.jpg);
  background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
}
.home {
  background-image: url('../src/assets/img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}